# Ignore object files and compiled code
*.o
*.out
*.class
*.exe
*.x

# Ignore editor/OS files
.DS_Store
Thumbs.db

# Ignore all files in folders
build/
temp/
logs/

# Ignore personal config files
*.log
*.env
*.swp
